/* These styles are applied to all pages */

/* Body size and center content */


body {
    max-width: 720px;
    margin: 0 auto;
    padding-top: 10px 20px;
}

img {
    max-width: 100%;
}

/* Typography */

/* Default */
body {
    color: #494440;
    font-family: Helvetica;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000;
    font-family: Georgia, Palatino, Baskerville, serif;
}


/* Navigation */

nav {
    border-bottom: .2rem solid gray;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

nav a {
    text-decoration: none;
    margin-right: .3rem;
    padding: .2rem .4rem;
    animation: 3s;
    color: #494440;
    transition: background-color 400ms, color 400ms;
}

nav a.current {
    background-color: gray;
    color: white;
}

nav a.current:hover {
    cursor: default;
}

nav a:hover {
    color: #fff;
    background-color: gray;
}

/* Disabled pages */
nav a.disabled {
    cursor: not-allowed;
}
