/* These styles are applied only to the events page */
h1{
    text-align: center;
    font-size: 2.5rem;
    color: #0C2D48;
}
.subtitle {
    font-size: 1.2rem;
}


/* Calendar */

/* Header row */
.festivals th {
    text-align: left;
    font-size: 1.3rem;
    font-weight: normal;
    padding: 10px;
}

.festivals td {
    padding: 10px;
    
}
tr{
    opacity: 0.8;
}
tr:hover{
opacity: 1;
}

/* Dates */
.festivals td:first-child {
    font-weight: bold;
    width: 12rem;
    vertical-align: top;
}

.festivals{
    box-sizing: border-box;
    background-color: #B1D4E0;
    padding: 10px;
}
