/* These styles are applied only to the home page */
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #0C2D48;
}

.events,
.attractions {
    box-sizing: border-box;
    margin-bottom: 4rem;
    padding: .1rem 1rem 1rem;
    min-height: 200px;
}

.events ul {
    padding-left: 0;
}

.events li {
    list-style: none;
    margin-bottom: .5rem;
}

.schedule {
    font-size: 1.2rem;
}

.events {
    background-color: #ffe3a0;
}

.attractions {
    background-color: #B1D4E0;
}

footer {
    box-sizing: border-box;
    border-top: .2rem solid gray;
    padding-left: 1rem;
    padding-top: 5px;
}

footer a.map {
    display: block;
}

h4 {
    font-size: 20px;
}

/* media queries */


@media (max-width: 767px) {

    .attractions,
    .events {
        width: auto;

    }

    .attractions p {
        text-align-last: center;
    }

}