/* These styles are applied only to the home page */
h1{
    text-align: center;
    font-size: 2.5rem;
    color: #0C2D48;
}
.events, .attractions {
    margin-bottom: 4rem;
}

.events ul {
    padding-left: 0;
}

.events li {
    list-style: none;
    padding-left: 1rem;
    margin-bottom: .5rem;
}

.schedule {
    font-size: 1.2rem;
}
.events{
    box-sizing:border-box;
    background-color:  	#ffe3a0;
    height: 200px;
    width: 720px;
    
}
.events h2, a{
    padding-left:1rem;
    padding-top: 5px;
}
.attractions{
    box-sizing:border-box;
    background-color:#B1D4E0;
    height: 200px;
    width: 720px;
}
.attractions h2 {
    padding-left:1rem;
    padding-top: 5px;
}
footer{
    box-sizing: border-box;
    border-top: .2rem solid gray;
    padding-left:1rem;
    padding-top: 5px;
}
h4{
    font-size: 20px;
}

/* media queries */


@media (max-width: 767px){
    .attractions, .events{
        width:auto;
        
    }
    .attractions p{
        text-align-last: center;
    }

}
   
   
